# Import Libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
true_news=pd.read_csv("True.csv")
fake_news=pd.read_csv("Fake.csv")

In [3]:
true_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
fake_news

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
true_news['label']=0
fake_news['label']=1

In [6]:
true_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [7]:
fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [8]:
dataset1=true_news[['text','label']]
dataset2=fake_news[['text','label']]

In [9]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [10]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [11]:
dataset=pd.concat([dataset1,dataset2])

In [12]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [13]:
dataset.shape

(44898, 2)

In [14]:
#check fro null values
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [15]:
dataset['label'].value_counts()

label
1    23481
0    21417
Name: count, dtype: int64

In [16]:
#shuffling the data
dataset=dataset.sample(frac=1)

In [17]:
dataset

                                                    text  label
18507  Protesters affiliated with the group No Justic...      1
18151  BEIRUT (Reuters) - Syria s army and its allies...      0
16214  NAIROBI (Reuters) - It all started with a rumo...      0
13137  Remember the Muslim couple that appeared at th...      1
20124  HANOI (Reuters) - Prosecutors in Vietnam on Th...      0
...                                                  ...    ...
9296   The stock market lost over 350 points after AB...      1
10992  HENNIKER, New Hampshire (Reuters) - Republican...      0
4341   While the amount of Trump s ahem charitable gi...      1
5167   WASHINGTON (Reuters) - U.S. House of Represent...      0
714    WASHINGTON (Reuters) - White House officials t...      0

[44898 rows x 2 columns]

# NLP

In [18]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [19]:
ps=WordNetLemmatizer()

In [20]:
stopwords=stopwords.words('english')

In [21]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
def clean_row(row):
    
    row=row.lower()
    row=re.sub('[^a-zA-Z]',' ',row)
    
    token=row.split()

    news=[ps.lemmatize(word) for word in token if not word in stopwords]
    cleanned_news=' '.join(news)

    return cleanned_news

In [23]:
# my name is harsh and my field is AI
# it will remove the repetitive words like my,is
# my name is harsh and field AI
# lemmitizing
# then it will assign these words a vector value like
# my name is harsh and field AI
# 0  1    2   3     4   5    6

In [24]:
dataset['text']

18507    Protesters affiliated with the group No Justic...
18151    BEIRUT (Reuters) - Syria s army and its allies...
16214    NAIROBI (Reuters) - It all started with a rumo...
13137    Remember the Muslim couple that appeared at th...
20124    HANOI (Reuters) - Prosecutors in Vietnam on Th...
                               ...
9296     The stock market lost over 350 points after AB...
10992    HENNIKER, New Hampshire (Reuters) - Republican...
4341     While the amount of Trump s ahem charitable gi...
5167     WASHINGTON (Reuters) - U.S. House of Represent...
714      WASHINGTON (Reuters) - White House officials t...
Name: text, Length: 44898, dtype: object

In [25]:
dataset['text']=dataset['text'].apply(lambda x: clean_row(x))

In [26]:
dataset['text']

18507    protester affiliated group justice pride block...
18151    beirut reuters syria army ally neared al mayad...
16214    nairobi reuters started rumor mungiki dreaded ...
13137    remember muslim couple appeared dnc gold star ...
20124    hanoi reuters prosecutor vietnam thursday said...
                               ...
9296     stock market lost point abc news erroneously r...
10992    henniker new hampshire reuters republican pres...
4341     amount trump ahem charitable giving investigat...
5167     washington reuters u house representative spea...
714      washington reuters white house official tried ...
Name: text, Length: 44898, dtype: object

In [27]:
len(dataset)

44898

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
vectorizer=TfidfVectorizer(max_features=50000,lowercase=False,ngram_range=(1,2))

In [30]:
x=dataset.iloc[:35000,0]
y=dataset.iloc[:35000,1]

In [31]:
x

18507    protester affiliated group justice pride block...
18151    beirut reuters syria army ally neared al mayad...
16214    nairobi reuters started rumor mungiki dreaded ...
13137    remember muslim couple appeared dnc gold star ...
20124    hanoi reuters prosecutor vietnam thursday said...
                               ...
14843    believe whopper hillary clinton dealing vague ...
1190     washington reuters u attorney general jeff ses...
19107    september sterling height mi city council repr...
17792    kuala lumpur reuters half brother north korean...
6745     bill maher every one panelist stitch read real...
Name: text, Length: 35000, dtype: object

In [32]:
y

18507    1
18151    0
16214    0
13137    1
20124    0
        ..
14843    1
1190     0
19107    1
17792    0
6745     1
Name: label, Length: 35000, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
train_data,test_data,train_label,test_label = train_test_split(x,y,test_size=0.2,random_state=0)

In [35]:
vec_train_data=vectorizer.fit_transform(train_data)

In [36]:
type(vec_train_data)

scipy.sparse._csr.csr_matrix

In [37]:
vec_train_data=vec_train_data.toarray()

In [38]:
type(vec_train_data)

numpy.ndarray

In [39]:
vec_test_data=vectorizer.fit_transform(test_data)

In [40]:
vec_test_data

<7000x50000 sparse matrix of type '<class 'numpy.float64'>'
	with 1455016 stored elements in Compressed Sparse Row format>

In [41]:
vec_test_data=vec_test_data.toarray()

In [42]:
vec_train_data.shape,vec_test_data.shape

((28000, 50000), (7000, 50000))

In [43]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [44]:
vec_test_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [45]:
type(vec_test_data)

numpy.ndarray

In [46]:
train_data=pd.DataFrame(vec_train_data,columns=vectorizer.get_feature_names_out())
testing_data=pd.DataFrame(vec_test_data,columns=vectorizer.get_feature_names_out())

In [47]:
train_data

,aadhaar,aapl,aaron,aaron bernstein,ab,abadi,abadi office,abadi said,abandon,abandoned,...,zor city,zor province,zschaepe,zuckerberg,zuckerberg said,zullo,zuma,zuma guptas,zurich,zurich reuters
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
testing_data

,aadhaar,aapl,aaron,aaron bernstein,ab,abadi,abadi office,abadi said,abandon,abandoned,...,zor city,zor province,zschaepe,zuckerberg,zuckerberg said,zullo,zuma,zuma guptas,zurich,zurich reuters
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Model

In [49]:
from sklearn.naive_bayes import MultinomialNB

In [50]:
clf = MultinomialNB()

In [51]:
clf.fit(train_data,train_label)

MultinomialNB()

In [52]:
y_pred=clf.predict(testing_data)

In [53]:
test_label

11623    1
4779     0
11244    1
9001     1
1008     1
        ..
17918    1
18508    1
3451     0
2726     1
5895     0
Name: label, Length: 7000, dtype: int64

In [54]:
y_pred

array([0, 1, 1, ..., 0, 1, 0], dtype=int64)

In [55]:
from sklearn.metrics import accuracy_score

In [56]:
accuracy_score(test_label,y_pred)

0.582

In [58]:
y_pred_train=clf.predict(train_data)

In [59]:
accuracy_score(train_label,y_pred_train)

0.9584285714285714

# Tesitng the Model

In [96]:
#txt='Republicans are working overtime trying to sell their scam of a tax bill to the public as something that directly targets middle-class and working-class families with financial relief. Nothing could be further from the truth, and they re getting hammered on that repeatedly. Speaking on CNBC, Paul Ryan was going full throttle, trying to convince us that the paltry savings we re getting is actually wait for it big money.But he didn t just go with the usual talking points. With a smug look that only someone who grew up in a wealthy family can muster when talking about that which he does not know, Ryan claimed that the $2,059 more per year that families living paycheck-to-paycheck will see is extremely significant. Then he decided he had to amend that to say such savings might be nothing to a family earning $600,000 per year (true), or for people living in New York or California (false).Those are the same two states that Trump s loyal subjects insist on stripping from the 2016 vote totals to claim that Trump actually won the popular vote. Watch Ryan completely dismiss all the struggling families living in blue states below:If you re living paycheck-to-paycheck which is more than half of the people in this country and you got #2059more from a tax cut next year, that s not nothing. pic.twitter.com/8TKtrMqRa1  Paul Ryan (@SpeakerRyan) December 21, 2017Someone needs to reach through their computer or television and wipe that smugness off his face. It is the height of arrogance and insult to imply that there are no struggling families in either of those two states.Featured image via Mark Wilson/Getty Images.'

In [98]:
txt=input("enter news")

enter news MADRID (Reuters) - Spain is pushing for the European Union to adopt restrictive measures against members of the Venezuelan government as a way of encouraging a return to constitutional order in the crisis-hit country, the Spanish foreign ministry said on Tuesday. The head of Venezuela s opposition-led congress, Julio Borges, visited Spain on Tuesday to meet Prime Minister Mariano Rajoy as part of a European tour seeking support against Venezuelan President Nicolas Maduro. Maduro s government has been criticized by the United Nations, Washington and other governments for failing to allow the entry of foreign aid to ease an economic crisis, while it overrides congress and jails hundreds of opponents.  Against the progressive worsening of the situation in Venezuela, the Spanish government is pushing ... for the adoption of restrictive, individual and selective measures, which don t hurt the Venezuelan population,  the ministry said in a statement. The Spanish government was working with its partners in the EU on these measures and was in constant contact with other Latin American countries, the ministry said. A foreign ministry spokesman did not say what the measures would be. After the meeting with Borges, the ministry underlined Spain s support for a peaceful, democratic solution and called for the release of all political prisoners. Spain s foreign minister, Alfonso Dastis, also met representatives of human rights activist Lilian Tintori, the wife of Venezuela s best-known detained political leader, who was barred from flying out of the country to join Borges on the tour. Venezuela s foreign minister, Jorge Arreaza, criticized the opposition leaders  meeting with Rajoy, saying they were unpatriotic in backing sanctions that he said would hurt the Venezuelan economy.  @marianorajoy assaults Venezuelan dignity, representing the worst colonial past, defeated and expelled by our Liberators,  Arreaza tweeted on Tuesday. The Venezuelan opposition won control of congress in 2015. But Maduro s loyalist Supreme Court has tossed out every major law it has passed as the oil-rich country slips deeper into a recession exacerbated by triple-digit inflation and acute shortages of food and medicines. Maduro has said he faces an  armed insurrection  designed to end socialism in Latin America and let a U.S.-backed business elite get its hands on the OPEC nation s crude reserves.

In [99]:
news=clean_row(txt)

In [100]:
news

'madrid reuters spain pushing european union adopt restrictive measure member venezuelan government way encouraging return constitutional order crisis hit country spanish foreign ministry said tuesday head venezuela opposition led congress julio borges visited spain tuesday meet prime minister mariano rajoy part european tour seeking support venezuelan president nicolas maduro maduro government criticized united nation washington government failing allow entry foreign aid ease economic crisis override congress jail hundred opponent progressive worsening situation venezuela spanish government pushing adoption restrictive individual selective measure hurt venezuelan population ministry said statement spanish government working partner eu measure constant contact latin american country ministry said foreign ministry spokesman say measure would meeting borges ministry underlined spain support peaceful democratic solution called release political prisoner spain foreign minister alfonso dastis also met representative human right activist lilian tintori wife venezuela best known detained political leader barred flying country join borges tour venezuela foreign minister jorge arreaza criticized opposition leader meeting rajoy saying unpatriotic backing sanction said would hurt venezuelan economy marianorajoy assault venezuelan dignity representing worst colonial past defeated expelled liberator arreaza tweeted tuesday venezuelan opposition control congress maduro loyalist supreme court tossed every major law passed oil rich country slip deeper recession exacerbated triple digit inflation acute shortage food medicine maduro said face armed insurrection designed end socialism latin america let u backed business elite get hand opec nation crude reserve'

In [101]:
pred=clf.predict(vectorizer.transform([news]).toarray())

C:\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [102]:
pred

array([1], dtype=int64)

In [103]:
if pred == 1:
    print("News is correct")
else:
    print("News is fake")

News is correct